In [6]:
import ipywidgets as widgets
import pandas as pd

pd.set_option('display.max_rows', 500)

# Assuming your DataFrame is already created
df = pd.read_csv('interactive_df.csv', dtype={'CIK': str})

# Create Dropdown
dropdown = widgets.Dropdown(
    options=df['CIK'].sort_values(),
    description='Select CIK:',
    disabled=False,
)

# Define the function to handle changes
def get_cluster(change):
    cik = change['new']
    chosen_cik_cluster = df.loc[df.CIK==cik].Cluster.values[0]
    
    # get similar CIKs
    print(f'Similar Revenue to {cik}')
    display(df.loc[((df.Cluster==chosen_cik_cluster) & (df.CIK != cik))][['CIK']])

dropdown.observe(get_cluster, names='value')
display(dropdown)

Dropdown(description='Select CIK:', options=('0000002969', '0000004127', '0000004281', '0000004962', '00000062â€¦

Similar Revenue to 0000006769

            CIK
2    0000105770
3    0001403568
4    0000865752
6    0000891103
8    0000723531
9    0000712515
11   0000004281
17   0001000697
19   0001136869
23   0000858470
25   0000091419
26   0000313927
28   0000857005
29   0000033185
31   0000864749
33   0000074208
36   0000073124
37   0001297996
38   0000920522
39   0001267238
42   0000004127
43   0000718877
44   0001596532
45   0001374310
47   0001048695
49   0000883241
51   0000062996
52   0000878927
54   0000096943
55   0001037038
56   0001097864
57   0000851968
60   0000038777
63   0001037868
64   0000769397
65   0001278021
66   0001280452
67   0000813672
68   0001410636
72   0000732717
74   0000927653
76   0001012100
77   0000789570
80   0001260221
85   0000906163
90   0001571949
93   0000006281
96   0000900075
97   0001289490
98   0000093751
100  0001099800
104  0001111711
105  0001604778
106  0001370637
110  0001013462
114  0000879169
115  0000707549
116  0000783325
117  0001418091
118  0001097149
119  0000078239
120  0001352010
122  0000037785
124  0001140859
126  0001474735
128  0000832101
129  0000016918
130  0001725057
132  0001014473
135  0001094285
137  0001463101
139  0001383312
140  0000740260
141  0001705696
142  0001130310
143  0000315213
144  0001659166
147  0000877212
151  0000849399
154  0000910606
155  0001037646
158  0000046080
159  0000310764
160  0000882835
166  0001100682
167  0000749251
169  0001513761
171  0001065280
174  0001699150
176  0001519751
178  0001058090
183  0000875320
184  0000072331
185  0001140536
186  0001590955
191  0001170010
192  0001090872
193  0001601046
194  0000319201
195  0001396009
199  0000766421
200  0000016732
201  0001524472
203  0001175454
204  0001043604
205  0000920760
206  0001306830
210  0001156375
211  0001013237
214  0000084839
215  0000759944
216  0000943452
218  0000029905
222  0001757898
223  0000877890